.pick-seat {
  display: flex;
  justify-content: center;

  .container {
    margin-bottom: 110px;
    width: 1300px;
    padding: 0;
    text-align: center;
    perspective: 1000px;

    .title {
      margin: 20px 0;
      font-weight: 700;
      font-size: 30px;
    }

    .movie-title {
      display: inline-block;
      font-weight: 900;
      font-size: 50px;
      margin-bottom: 20px;
    }

    .date-time-qty {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      .option,
      .price {
        margin-top: 10px;
      }

      .time {
        margin: 0 100px;
      }
    }

    .divider {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 1px;
      background: gray;
      margin-bottom: 30px;
    }

    .showcase {
      background: rgba(0, 0, 0, 0.1);
      width: 250px;
      margin: 0 auto 30px auto;
      padding: 5px 40px;
      border-radius: 5px;
      color: #777;
      list-style-type: none;
      display: flex;
      justify-content: center;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;

        .seat {
          background-color: #444451;
          height: 12px;
          width: 15px;
          margin: 3px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        .selected {
          background-color: #6feaf6;
        }

        .occupied {
          background-color: red;
        }

        small {
          margin-left: 2px;
        }
      }
    }

    .screen {
      background-color: black;
      width: 400px;
      height: 70px;
      margin: 0 auto 20px auto;
      transform: rotateX(-45deg);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    }

    .seat-grid {
      margin-bottom: 30px;
      .row {
        display: flex;
        justify-content: center;

        .seat {
          background-color: #444451;
          height: 25px;
          width: 35px;
          margin: 3px;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          color: white;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-of-type(2) {
            margin-right: 18px;
          }

          &:nth-last-of-type(2) {
            margin-left: 18px;
          }

          &:not(.occupied):hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        .occupied {
          background-color: red;
        }

        .selected {
          background-color: #6feaf6;
        }
      }
    }

    .summary {
      .ticket-qty {
        margin-bottom: 30px;
      }

      .payment {
        color: white;
        border: 1px black solid;
        background: black;
        padding: 15px 0;
        text-decoration: none;
        border-radius: 100px;
        width: 240px;
        margin: auto;

        &:hover {
          background: white;
          color: black;
        }
      }

      .payment.disabled {
        border: 1px gray solid;
        background: gray;

        &:hover {
          color: white;
          cursor: default;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .pick-seat {
    .container {
      .movie-title {
        margin: 20px 20px;
        font-size: 30px;
      }

      .date-time-qty {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;

        .option,
        .price {
          margin-top: 0;
        }

        .time,
        .ticket-price {
          margin-top: 15px;
        }
      }

      .showcase {
        flex-direction: column;
        padding: 0;

        li {
          margin: 5px 10px;
        }
      }

      .screen {
        width: 80%;
      }

      .seat-grid {
        .row {
          .seat {
            height: 20px;
            width: 25px;
          }
        }
      }

      .summary {
        .ticket-qty {
          font-size: 15px;
        }
      }
    }
  }
}
