.actor-card {
  border: lightgray 1px solid;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 200px;
  border-radius: 7px;
  overflow: hidden;

  .profile-pic {
    width: 100%;
    object-fit: cover;
  }

  .name {
    font-size: 16px;
    text-align: center;
  }

  .character {
    font-size: 14px;
    text-align: center;
  }
}
