.actor-card {
  border: lightgray 1px solid;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  // padding-bottom: 10px;
  width: 200px;
  height: 390px;
  border-radius: 7px;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;

  .profile-pic {
    width: 100%;
    object-fit: cover;
  }

  .no-profile-pic {
    height: 300px;
  }

  .name {
    font-size: 16px;
    text-align: center;
    white-space: normal;
    padding: 0 5px;
    font-weight: 900;
  }

  .character {
    font-size: 14px;
    text-align: center;
    white-space: normal;
    padding: 0 5px;
    font-weight: 400;
  }
}
