.searchBox {
  width: 550px;
  background-color: black;
  position: fixed;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: flex;
  padding: 15px 0;
  justify-content: center;

  .fas {
    color: white;
    text-decoration: none;
  }

  .search-input {
    border: 0px;
    background-color: black;
    color: white;
    margin-left: 10px;
    width: 85%;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }
}
