.nav-wrapper {
  background-color: #1d2323;

  .container {
    #nav-mobile {
      li:first-child {
        .logo {
          height: 64px;
          img {
            height: 45px;
            width: auto;
            margin: 10px 0;
          }
        }
      }

      li:nth-child(2) {
        margin-left: 70px;
      }
    }
  }
}

// .navbar.ui.menu {
//     background-color: #1d2323;
//     display: flex;
//     align-items: center;
//     height: 70px;
//     padding: 50px 100px;

//     .logo {
//       // margin-right: 30px;
//       img {
//         height: 70px;
//       }
//     }

//     .link {
//       color: white;
//       // padding: 0 30px;
//       // font-family: "Raleway", sans-serif;
//       font-family: "Open Sans Condensed", sans-serif;
//     }
//   }
