.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1d2323;

  .navbar-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    .navbar-logo .logo {
      color: white;
      text-decoration: none;
      padding: 20px 30px;
    }

    .spacer {
      flex: 1;
    }

    .navbar-items {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        padding: 20px 30px;

        &:hover {
          background-color: black;
          cursor: pointer;
        }

        .link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

// .nav-wrapper {
//   background-color: #1d2323;

//   .container {
//     #nav-mobile {
//       li:first-child {
//         .logo {
//           height: 64px;
//           img {
//             height: 45px;
//             width: auto;
//             margin: 10px 0;
//           }
//         }
//       }

//       li:nth-child(2) {
//         margin-left: 70px;
//       }
//     }
//   }
// }

// .navbar.ui.menu {
//     background-color: #1d2323;
//     display: flex;
//     align-items: center;
//     height: 70px;
//     padding: 50px 100px;

//     .logo {
//       // margin-right: 30px;
//       img {
//         height: 70px;
//       }
//     }

//     .link {
//       color: white;
//       // padding: 0 30px;
//       // font-family: "Raleway", sans-serif;
//       font-family: "Open Sans Condensed", sans-serif;
//     }
//   }
