@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.App {
  color: black;
  box-sizing: border-box;
  /* position: relative;
  height: 100%; */
}

.container {
  padding: 0 60px;
}

@media (min-width: 1900px) {
  .container {
    padding: 0 150px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 25px;
  }
}
