.homepage {
  // height: 100%;
  margin-top: 30px;

  h1 {
    font-family: "Source Sans Pro", sans-serif;
    //margin-top: 60px;
    margin: 40px auto 20px auto;
    max-width: 1500px;
    font-size: 40px;
  }

  .top-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 1500px;
    margin: auto;
    //justify-content: space-between;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    max-width: 1500px;
    margin: auto;
  }

  p {
    max-width: 1500px;
    margin: 10px auto;

    .news-api {
      color: black;
    }
  }

  @media (max-width: 630px) {
    h1 {
      text-align: center;
    }

    .news-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
