.homepage {
  height: 100%;
  margin-top: 30px;

  h1 {
    font-family: "Roboto Mono", monospace;
    margin-top: 60px;
  }

  .top-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    //justify-content: space-between;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .news-api {
    color: white;
  }

  @media (max-width: 480px) {
    h1 {
      text-align: center;
    }

    .news-container {
      display: flex;
      flex-direction: column;
    }
  }
}
